<fieldset>
	<legend>个人资料</legend>
	{{if .updated}}
	<div class="alert alert-success">修改成功！</div>
	{{end}}
	<form class="form-horizontal" method="post">
	<table class="table table-form">
		<tbody>
			<tr>
				<th class="span2">帐号</th>
				<td>
					<b>{{.cp.Name}}</b>
				</td>
			</tr>
			<tr>
				<th class="span2">登录次数</th>
				<td>
					{{.cp.LoginCount}}
				</td>
			</tr>
			<tr>
				<th class="span2">最后登录</th>
				<td>
					{{date .cp.LastLoginTime "Y-m-d H:i:s"}} ({{.cp.LastLoginIp}})
				</td>
			</tr>
			<tr>
				<th>当前密码：</th>
				<td><input type="password" name="OldPassword" class="input" /> <span class="text-error">{{.errMsg.password}}</span></td>
			</tr>
			<tr>
				<th>新密码：</th>
				<td><input type="password" name="NewPassword1" class="input" /> <span class="text-error">{{.errMsg.newpassword1}}</span></td>
			</tr>
			<tr>
				<th>确认密码：</th>
				<td><input type="password" name="NewPassword2" class="input" /> <span class="text-error">{{.errMsg.newpassword2}}</span></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td>
				<button type="submit" class="btn"><i class="icon-ok"></i> 保存</button>
				<button type="button" class="btn" onclick="javascript:history.back();">取消</button>
				</td>
			</tr>
		</tfoot>
	</table>
	</form>
</fieldset>