<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>辉耀互娱管理后台</title>
	<link rel="stylesheet" type="text/css" media="screen" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/themes/admin/css/admin.css">
	
	<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="/static/themes/admin/js/admin.js"></script>
</head>
<body>

<div class="container main">
	<div style="width:1500px;margin-left:-10%" class="row">
		<div class="span12" style="float:left;margin-left:80px" >
			{{.state}}
		</div>
	</div>
</div>

</body>
</html>