<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>辉耀互娱管理后台 v{{.version}}</title>
	<link rel="stylesheet" media="screen" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-datetimepicker.css" >
	<link rel="stylesheet" href="/static/themes/admin/css/admin.css">
</head>
<body>
<div class="header">
	<div class="container">
	<h1>辉耀互娱管理后台
		<span>您好！{{.manager.Name}} <i>|</i> 
			<a href="/manager/logout">退出登录</a> 
			<i>|</i> 
			<a href="/manager/profile">个人信息</a>
		</span>
	</h1>
	</div>
</div>

<div class="container main">
<div style="width:1500px;margin-left:-10%" class="row">
		<div class="span2" style="float:left">
		<div class="well">
		    <ul class="nav nav-list">
				<li class="nav-header">CP管理</li>
				<li><a href="/manager/cp/add">添加CP</a></li>
				<li><a href="/manager/cp/list">CP列表</a></li>
				<li class="nav-header">统计信息</li>
				<li><a href="/manager/statistic/pay">支付统计</a></li>
				<li><a href="/manager/statistic/user">用户统计</a></li> 
				<li class="nav-header">查询信息</li>
				<li><a href="/manager/quest/order">订单查询</a></li>
				<li><a href="/manager/quest/user">用户查询</a></li>
		    </ul>
		</div>
	</div>
	<script src="/static/js/jquery-2.1.1.min.js"></script>

	<div class="span12" style="float:left;margin-left:80px" >
		{{.LayoutContent}}
	</div>
	<!-- end span10 -->
	</div>
	<!-- end row -->
</div>

<!-- end container -->
<div class="footer">
	<div class="container">
	Copyright &copy; 2015 <a href=""></a>. All Rights Reserved.
	</div>
</div>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/bootstrap/js/moment-with-locales.js"></script>
	<script src="/static/bootstrap/js/bootstrap-datetimepicker.js"></script>
	<script src="/static/js/spin.min.js"></script>
	<script src="/static/themes/admin/js/admin.js"></script>
</body>
</html>