<h3>登录统计</h3>
<nav class="navbar navbar-default" role="navigation">
  <div>
    <form id="queryForm" class="navbar-form navbar-left" method="post">
      <div class="form-group">
        <select id="product" class="form-control"></select>
        <select id="channel" class="form-control"></select>
        <div class="input-group date">
          <input type="text" class="form-control" id="startDate" placeholder="开始时间">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <div class="input-group date">
          <input type="text" class="form-control" id="endDate" placeholder="结束时间">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <label for="updateData"></label>
        <button type="button" class="btn btn-primary" id="updateData">更新数据</button>
        <label for="exportData"></label>
        <button type="button" class="btn btn-primary" id="exportData">导出表格</button>
      </div>
    </form>
  </div>
</nav>
<table class="table table-hover table-list">
  <thead>
    <tr>
      <th>游戏名</th>
      <th>渠道名</th>
      <th>登录用户</th>
      <th>新增用户</th>
      <th>设备激活</th>
      <th>日期</th>
    </tr>
  </thead>
  <tbody id='content'></tbody>
</table>
<div>
  <ul id='paginator' class='pagination'></ul>
</div>